.header__top, .header__menu, .header__subscribe, .header__bottom, .header__bottom-logos {
  display: flex;
  flex-direction: row;
}

.header__menu-text, .header__phone, .header__yoga, .header__subscribe-text, .header__location {
  font-family: Geometria;
  font-size: 12px;
  color: #8B7EAC;
  font-weight: 600;
}

.header__phrase {
  font-family: Caveat;
  color: #8E80A9;
  font-weight: normal;
  font-size: 24px;
}

body,
html {
  padding: 0px;
  margin: 0px;
  background-color: #41303c;
}

:focus {
  outline: none;
}

.page__wrapper {
  width: 768px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.line__icon {
  width: 12.8px;
  height: 0px;
  border: 1px solid #8E80A9;
  margin-bottom: 3.2px;
}
.line__icon--small {
  width: 7.73px;
}

.header {
  background-image: url("../src/img/first_background.png");
  background-size: 771.85px 484.34px;
  width: 768px;
  height: 484.34px;
}
.header__container {
  margin-left: 78.68px;
  margin-right: 63.39px;
  padding-top: 37.87px;
}
.header__top {
  justify-content: space-between;
}
.header__menu-text {
  margin-left: 6.24px;
}
.header__middle {
  margin-top: 45.39px;
}
.header__phrase {
  margin-left: 73px;
}
.header__yoga {
  font-size: 144px;
  line-height: 0px;
  letter-spacing: 0.34em;
  color: #FFFFFF;
  margin-left: 20px;
  margin-top: 70.61px;
}
.header__subscribe {
  align-items: center;
  margin-top: 75.15px;
  margin-left: 230px;
}
.header__subscribe-button {
  background-color: #E65C7B;
  color: #FFFFFF;
  width: 29.87px;
  height: 25.6px;
}
.header__subscribe-img {
  width: 4.8px;
  height: 9.07px;
  margin-left: 13.87px;
  margin-top: 8px;
}
.header__subscribe-text {
  font-size: 10px;
  color: #E65C7B;
  margin-left: 7.28px;
}
.header__bottom {
  margin-top: 69px;
  justify-content: space-between;
}
.header__bottom-logos {
  align-items: center;
}
.header__bottom-logo {
  height: 10px;
  width: auto;
  margin-right: 5.87px;
}
.header__bottom-logo--fb {
  margin-left: 3px;
}
